body{
    box-sizing: border-box;
    margin: 0 auto;
    max-height: 100vh;
    width: auto;
    font-family: "Inter", sans-serif;
    background-color: #1F2937;
    text-align: center;
    

}

.head-container{
    background-color: #6943FF;
    padding: 12px 15px;
    margin-bottom: 0px;
    display: block;
    margin: 0 auto;
    height: 250px;
}

h1{
    color: white;
    font-family: "Inter";
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
}

#unit{
    max-width: 150px;
    font-size: 10px;
    padding: 5px;
    color: white;
    background-color: #6943FF;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: bold;

    
    
}

#unit::placeholder{
    font-size: 10px;
    color: #CCC1FF;
}



#convertBtn{
    color:#6943FF;
    background-color: white;
    padding: 8px 16px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    
}

#convertBtn:hover{
    background-color: #1F2937;
}


.body-container{
    background-color: #1F2937;
    height: 300px;
    margin-top: 0px;
    text-align: center;
    padding: 15px 15px;
    margin-bottom: 35px;
    
    
}

.box{
    background-color: #273549;
    margin-bottom: 15px;
    
    padding: 10px 10px;
    font-size: 0.8em;
}

.box h3{
    color:#CCC1FF;
}

.box p{
    color: white;
}

footer{
    
    height: 50px;
    background-color: #6943FF;
    padding-top: 10px;
    color: white;
    font-style: italic;
    text-shadow: 3px 3px 3px black;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: grey;
}